body {
	background-color: white;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border-style: groove;
	height: 100%;
	width: 750px;
}
.main-contents-user-controll {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border: solid 5px #008080;
	height: 100%;
	width: 750px;
}




.main-contents2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border-style: groove;
	height: 100%;
	width: 500px;
}

.branchDivision{
	width:173px;
	height:25px;
}

.logout{
	float:left;
	text-align: left;
}

.newmessage{
	text-align: center;

	margin-left:35%;
}

.usercontroll{

	float:right;

}


.division{
	margin-bottom: 15px;
}
.logintitle{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border-bottom: 1px groove;
	height:100%;

}

p {
   text-indent: 1em;
  }

.h1{
	background-color: #B0E0E6;
}

.home-title{
	background-color: #B0E0E6;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.user-controll-title{
	background-color: #B0E0E6;
   margin-right: 15%;
}

table.table{
	display:inline-block;
}
.user-table{
	text-align:center;


}

.h2{
	background-color: #B0E0E6;
}

.h4{
	background-color: #B0E0E6;

	display:inline-block;
}

.user-title2{

	background-color: #B0E0E6;
	width:727px;
	display:inline-block;
}


.back{
	float:right;
	position:fixed;
	margin-left: 8%;
}
.back5{
	float:right;
	position:fixed;
	margin-left: 19%;
}


.back3{
	float:right;
	position:fixed;
	margin-left: 18%;
}


.comment-date2{
 float:right;

}

.back2{
	float:right;
	position:fixed;
	margin-left: 23%;
}
.signup{
	float:right;
	position:fixed;
	margin-left: 78%;
}
.modoru {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15%;
    margin-left: 15%;
	height: 100%;

}

.tr{
	height:33px;
}


.modoru2 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 750px;
}
.login-main{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-style: groove;
	height: 100%;
	width: 300px;


}
.modoru3 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 680px;
}

.modoruSiginup {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 500px;
}

.sample7 {border-style: inset;}

.messages {
	border-style: double;
}

.comment {
	border-style: inset;
	 margin-left: 20px;
}

.namedate{
	border-bottom: 1px groove;
}

.title-and-category{


	border-bottom: 1px solid ;
}

.title{
	font-size: 20px;
	text-indent: 1em;
}

.user-category{
	background-color:#E0FFFF;
}

.tweet-box {
	width: 100%;
	height: 56px;
	font-family : inherit;
 	box-sizing: border-box;

}
.tweet-box2 {
	width: 100%;
	height: 56px;
	font-family : inherit;
 	box-sizing: border-box;

}

.header {
	text-align: right;
}

.login {
    margin-top: 30px;
    margin-bottom: 12px;
}

.narrow{
	border-bottom: 1px solid;
    margin: 40px auto;
    max-width: 975px;
}

.comments{

	 clear:both;



}


.comments2{
	text-indent: 1em;
	 word-wrap:break-all;
}

.splitedMessage{
	font-size:19px;
	margin-left:3px
}

.comment-name{

}

.messagecomment{
	boder-top :5px ridge;
	border-bottom: 1px solid;
    margin:  auto;
    max-width: 100%;
    margin-right: 15%;
    margin-left:15%;
}


.id-date{
	float:right;
	color: gray;
	font-weight: lighter;

}

.id{
	background:  #00FF66;
	border-style: double;

}


.category{

}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form {
	margin-top: 10px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;

}

.mainMessage{
	margin-top: 5px;
}


.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {

	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

input.text{
	font-family : inherit;

	width : 75%;
 	margin: 0;
 	box-sizing: border-box;
}


input.submit{
	position: relative;
	z-index: 2;
	border: 2px solid #333;
	color: #333;
	line-height: 50px;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
input.submit:hover {
	color: #fff;
}
input.submit::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
}
input.submit:hover::after {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}


input.button {
	position: relative;
	z-index: 2;
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	line-height: 50px;
}
input.button:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}
input.button::before,
input.button::after {
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #333;
}
input.button::before {
	right: 0;
}
input.button::after {
	left: 0;
}
input.button:hover::before,
input.button:hover::after {
	width: 0;
	background-color: #59b1eb;
}